body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #2ecc71, #F1C40F);
    color: #222;
}

h1 {
    margin-top: 20px;
}

.form-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}

input, button {
    padding: 20px;
    border-radius: 10px;
    border: none;
}

button {
    background-color: #222;
    color: white;
    cursor: pointer;
}
